GreetingCardConsoleApp/.vs/GreetingCardConsoleApp/v17/.suo
GreetingCardConsoleApp/.vs/GreetingCardConsoleApp/v17/.suo
GreetingCardConsoleApp/.vs/GreetingCardConsoleApp/FileContentIndex/cdc738ae-4650-4978-b6d9-885ce1b68bf8.vsidx
